doctype html
html
    head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      meta(http-equiv='X-UA-Compatible' content='ie=edge')
      title= title
      link(rel="stylesheet" href="http://localhost:5220/style.css")
    body
      header
        h1#SiteHeader Visualization for GitHub Issues Timer Data
        div.desktop
            nav
                ul
                    li.navLi
                        a(href="http://localhost:5220/views/main") Home
                    li.navLi
                        a(href="http://localhost:5220/views/users") Users
                    li.navLi
                        a(href="http://localhost:5220/views/issues") Issues
                    li.navLi
                        a(href="http://localhost:5220/views/timers") Timers
                    li.navLi
                        a(href="http://localhost:5220/views/timerperiods") Periods
                    li.navLi
                        a(href="http://localhost:5220/views/teams") Teams
                    li.navLi
                        a(href="http://localhost:5220/views/projects") Projects
        div.mobile
            button(id="navButton" onclick="ToggleNav()") | | |
            nav(id="mobileNav" class="displayNone")
                ul
                    li.navLiMobile
                        a(href="http://localhost:5220/views/main") Home
                    li.navLiMobile
                        a(href="http://localhost:5220/views/users") Users
                    li.navLiMobile
                        a(href="http://localhost:5220/views/issues") Issues
                    li.navLiMobile
                        a(href="http://localhost:5220/views/timers") Timers
                    li.navLiMobile
                        a(href="http://localhost:5220/views/timerperiods") Periods
                    li.navLiMobile
                        a(href="http://localhost:5220/views/teams") Teams
                    li.navLiMobile
                        a(href="http://localhost:5220/views/projects") Projects
      block content
    div(id="searchLink")
      a(href="http://localhost:5220/views/search") Not what you're looking for? Do a search!
    footer Visualization for data collected through the ITSC's GitHub Issues Timer Extension. Graphing handled through Chart.js. Special thanks to W3 Schools for providing template code and instruction.<br> Project GitHub link: <a href="https://github.com/GrantRynders/Github-Extension-Project">https://github.com/GrantRynders/Github-Extension-Project</a><br>Author: Grant Rynders
    script.
        async function ToggleNav()
        {
            document.getElementById("mobileNav").classList.toggle("displayNone");
        }
      