extends default

block content
    div(id="content")
        div(class="infoDiv")
            div(class="infoBite")
            h1 "What is this?"
            p This website is the data visualization component of our GitHub Issues Timer Extension. User, Issue, and Timer data are collected and displayed though a SQLite or POSTGRES database in tandem with our Node and Express server. Graphing is handled through Chart.js, individual records are displayed using PUG, and the SQLite database is interacted with using Prisma ORM. 
            div(class="infoBite")
                h1 "Who made this?"
                p This project was created as part of the Summer 2024 Software Development internship opportunity at the University of Cincinnati Information Technology Solutions Center (ITSC). Authors include <a href="https://github.com/GrantRynders">GrantRynders</a> and <a href="https://github.com/Deshyah/">Deshyah</a> with additional advising by <a href="https://github.com/sil6s">Sil6s</a> and <a href="https://github.com/ygilany">ygilany</a>
            div(class="infoBite")
                h1 "How do I use the extension and its data tracking?"
                p The backend is handled locally and thus you would have to run the node server yourself in a tool like VS Code. The timer component itself can very easily be used by downloading the project from our GitHub, and loading the /Popup/ folder as an unpacked extension in Chrome (Other browsers are not yet fully supported).
        div(id="githubplug")
            img(id="githublogo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/GitHub_Invertocat_Logo.svg/640px-GitHub_Invertocat_Logo.svg.png" alt="The github logo in black. An octopus cat representing the branching ability of a git repository")
            a(id="githublink" href="https://github.com/GrantRynders/Github-Extension-Project") Check out the project on GitHub!
        div(class="infoDiv")
            h1 Contact Us:
            div(class="infoBite")
                div(class="mobile") Phone: <a href="tel:+5137080054">513.708.0054</a>
                div(class="desktop") Phone: 513.708.0054
            div(class="infoBite") Email: <a href="mailto:grantrynders@outlook.com?subject=Github Timer Extension Report">grantrynders@outlook.com</a>
    script.
        async function ToggleNav()
        {
            document.getElementById("mobileNav").classList.toggle("displayNone");
        }