extends default

block content
    #content
        div.searchdiv
            h1#searchtitle Search the Database
            div#searchDiv
                div.dropdown
                    button(onclick="ToggleDropdown()" class="dropbtn") Choose a table to query
                    div(id="myDropdown" class="dropdown-content")
                input(type="text" class="SearchField" id="queryInput" placeholder="Query")
                button(class="SearchField" onclick="Search()") Search
                h1#results
            



    script(src="https://cdn.jsdelivr.net/npm/chart.js")
    script.
        var selectedTable;
        var placeholder;
        Main();
        async function Main()
        {
            await PopulateDropdown();
        }
        async function Search()
        {
            var results = await document.getElementById("results");
            var queryElement = await document.getElementById("queryInput");
            var query = queryElement.value;
            if (selectedTable != null)
            {
                if (query != null)
                {
                    query = query.trim();
                    if (selectedTable == "user")
                    {
                        const url = "http://localhost:5220/user/" + query;
                        const userResponse = await fetch(url);
                        if (userResponse.status < 400 && userResponse != null)
                        {
                            var user = await userResponse.json();
                            const pageurl = "http://localhost:5220/views/usermodel/user/" + user.id;
                            await fetch(pageurl)
                            .then((response) => {
                                if (response.status < 400)
                                {
                                    window.location.replace(pageurl);
                                }
                                else
                                {
                                    results.textContent = "No Valid Record to Return";
                                }
                            })
                            .catch(function() {
                                console.log("Something really bad happened when searching uh oh");
                            });
                        }
                    }
                    else if (selectedTable == "issue")
                    {
                        query = encodeURIComponent(query);
                        const url = "http://localhost:5220/issue/url/" + query;
                        var issueResponse = await fetch(url);
                        if (issueResponse.status < 400 && issueResponse != null)
                        {
                            const issue = await issueResponse.json();
                            if (issue != null)
                            {
                                const pageurl = "http://localhost:5220/views/issuemodel/issue/" + issue.id;
                                await fetch(pageurl)
                                .then((response) => {
                                    if (response.status < 400)
                                    {
                                        window.location.replace(pageurl);
                                    }
                                    else
                                    {
                                        results.textContent = "No Valid Record to Return";
                                    }
                                })
                                .catch(function() {
                                    console.log("Something really bad happened when searching uh oh");
                                });
                            }
                            else
                            {
                                results.textContent = "No Valid Record to Return";
                            }
                        }
                        else
                        {
                            results.textContent = "No Valid Record to Return";
                        }
                    }
                    else if (selectedTable == "timer")
                    {
                        const url = "http://localhost:5220/timer/" + query;
                        var timerResponse = await fetch(url);
                        if (timerResponse.status < 400 && timerResponse != null)
                        {
                            const timer = await timerResponse.json();
                            if (timer != null)
                            {
                                const pageurl = "http://localhost:5220/views/timermodel/timer/" + query;
                                await fetch(pageurl)
                                .then((response) => {
                                    if (response.status < 400)
                                    {
                                        window.location.replace(pageurl);
                                    }
                                    else
                                    {
                                        results.textContent = "No Valid Record to Return";
                                    }
                                })
                                .catch(function() {
                                    console.log("Something really bad happened when searching uh oh");
                                });
                            }
                            else
                            {
                                results.textContent = "No Valid Record to Return";
                            }
                        }
                        else
                        {
                            results.textContent = "No Valid Record to Return";
                        }
                    }
                    else if (selectedTable == "timerPeriod")
                    {
                        const url = "http://localhost:5220/timerPeriod/" + query;
                        timerPeriodResponse = await fetch(url);
                        if (timerPeriodResponse.status < 400 && timerPeriodResponse != null)
                        {
                            const timerPeriod = await timerPeriodResponse.json();
                            if (timerPeriod != null)
                            {
                                const pageurl = "http://localhost:5220/views/timerperiodmodel/timerperiod/" + query;
                                await fetch(pageurl)
                                .then((response) => {
                                    if (response.status < 400)
                                    {
                                        window.location.replace(pageurl);
                                    }
                                    else
                                    {
                                        results.textContent = "No Valid Record to Return";
                                    }
                                })
                                .catch(function() {
                                    console.log("Something really bad happened when searching uh oh");
                                });
                            }
                            else
                            {
                                results.textContent = "No Valid Record to Return";
                            }
                        }
                        else
                        {
                            results.textContent = "No Valid Record to Return";
                        }
                    }
                    else if (selectedTable == "team")
                    {
                        const url = "http://localhost:5220/team/teamname/" + query.toLowerCase();
                        var teamResponse = await fetch(url);
                        if (teamResponse.status < 400 && teamResponse != null)
                        {
                            const team = await teamResponse.json();
                            if (team != null)
                            {
                                const pageurl = "http://localhost:5220/views/teammodel/team/" + team[0].id;
                                await fetch(pageurl)
                                .then((response) => {
                                    if (response.status < 400)
                                    {
                                        window.location.replace(pageurl);
                                    }
                                    else
                                    {
                                        results.textContent = "No Valid Record to Return";
                                    }
                                })
                                .catch(function() {
                                    console.log("Something really bad happened when searching uh oh");
                                });
                            }
                            else
                            {
                                results.textContent = "No Valid Record to Return";
                            }
                        }
                        else
                        {
                            results.textContent = "No Valid Record to Return";
                        }
                    }
                    else if (selectedTable == "project")
                    {
                        const url = "http://localhost:5220/project/projectname/" + query.toLowerCase();
                        var projectResponse = await fetch(url);
                        if (projectResponse.status < 400 && projectResponse != null)
                        {
                            const project = await projectResponse.json();
                            if (project != null)
                            {
                                const pageurl = "http://localhost:5220/views/projectmodel/project/" + project[0].id;
                                await fetch(pageurl)
                                .then((response) => {
                                    if (response.status < 400)
                                    {
                                        window.location.replace(pageurl);
                                    }
                                    else
                                    {
                                        results.textContent = "No Valid Record to Return";
                                    }
                                })
                                .catch(function() {
                                    console.log("Something really bad happened when searching uh oh");
                                });
                            }
                            else
                            {
                                results.textContent = "No Valid Record to Return";
                            }
                        }
                        else
                        {
                            results.textContent = "No Valid Record to Return";
                        }
                    }
                    else
                    {
                        console.log("No valid table recognized");
                    }
                }
                else
                {
                    console.log("Query is null for search");
                }
            }
            else
            {
                console.log("Model is null for search");
            }
        }
        function ToggleDropdown() 
        {
            document.getElementById("myDropdown").classList.toggle("show");
        }
        async function PopulateDropdown()
        {
            const dropdown = document.getElementById("myDropdown");
            const tables = ["Users", "Issues", "Timers", "Timer Periods", "Teams", "Projects"]
            for (let i = 0; i < tables.length; i++) 
            {
                var dropElement = document.createElement("button");
                dropElement.className = "dropdownElement";
                dropElement.textContent = tables[i];
                dropElement.addEventListener('click',function ()
                {
                    var dropBtn = document.getElementsByClassName("dropbtn")[0];
                    dropBtn.textContent = tables[i];
                    SetField(i);
                    ToggleDropdown();
                });
                dropdown.appendChild(dropElement);
            }
        }
        async function SetField(index)
        {
            const tables = ["user", "issue", "timer", "timerPeriod", "team", "project"];
            const placeholders = ["Enter the username", "Enter the issue URL", "Enter the timer id", "Enter the timer period id", "Enter the team name", "Enter the project name"]
            selectedTable = tables[index];
            placeholder = placeholders[index];
            var queryElement = await document.getElementById("queryInput");
            queryElement.placeholder = placeholder;
        }



