extends default

block content
    #content
        div.recordHeader
            h1 TeamId: #{teamId}
            h1 Team Name: #{teamName}
            h3 Total Users: #{usersCount}
        div.CanvasWrapper
            h1.CanvasHeader Time Spent by Users in the Team in Seconds
            canvas#myChart
        div.dropdown
            button(onclick="ToggleDropdown()" class="dropbtn") Select a User to Add
            div(id="myDropdown" class="dropdown-content")
                input(type="text" placeholder="Search.." id="myInput" onkeyup="FilterDropdown()")
                div#dropdownList
        input(type="text" placeholder="Enter User Name" id="nameInput")
        button(onclick="AddUserToTeam()" class="inputBtn") Add User to Team

        div.dropdown
            button(onclick="ToggleDropdown2()" class="dropbtn") Select a Project to Assign
            div(id="myDropdown2" class="dropdown-content")
                input(type="text" placeholder="Search.." id="myInput2" onkeyup="FilterDropdown2()")
                div#dropdownList2
        input(type="text" placeholder="Enter Project Name" id="nameInput2")
        button(onclick="AddTeamToProject()" class="inputBtn") Assign Project to Team

        h1 Related Records:
        p#idhidden #{teamId}
        div(id="referenceList" class="referenceList")
        button(id="nextbtn" class="tabbtn" onclick="TabUp()") Next
        button(id="backbtn" class="tabbtn" onclick="TabDown()") Previous
    script(src="https://cdn.jsdelivr.net/npm/chart.js")
    script.
        var index;
        const interval = 2;
        var userNames;
        var timeSpentArray;
        Main();
        async function Main()
        {
            index = 0;
            await ListReferences();
            await PopulateDropdown();
            await PopulateDropdown2();
            await GetTeamsByUserTimeSpentData();
            await GraphUsersByTimeSpent();
        }
        async function ListReferences()
        {
            var idReference = await document.getElementById("idhidden");
            const id = idReference.textContent;
            const allUsersResponse = await fetch("http://localhost:5220/teammodel/" + id + "/users");
            var allUsers = await allUsersResponse.json();
            var destinationDiv = document.getElementById("referenceList");
            for (var child of destinationDiv.childNodes)
            {
                console.log(child);
                destinationDiv.removeChild(child);
            }
            var links = document.getElementsByClassName("referenceLink");
            for (var child of links)
            {
                child.remove();
            }
            allUsers = allUsers.slice(index, index + interval);
            for (var i = 0; i < allUsers.length; i++)
            {
                var userLink = document.createElement('A');
                userLink.className = "referenceLink";
                userLink.href = "http://localhost:5220/views/usermodel/user/" + allUsers[i].id;
                userLink.textContent = "Id: " + allUsers[i].userId + ", UserName: " + allUsers[i].UserName + "\n";
                destinationDiv.appendChild(userLink);
            }
        }
        function ToggleDropdown() {
            document.getElementById("myDropdown").classList.toggle("show");
        }
        function ToggleDropdown2() 
        {
            document.getElementById("myDropdown2").classList.toggle("show");
        }
        function FilterDropdown() 
        {
            const input = document.getElementById("myInput");
            const filter = input.value.toUpperCase();
            const dropdown = document.getElementById("myDropdown");
            const a = dropdown.getElementsByClassName("dropdownElement");
            for (let i = 0; i < a.length; i++) 
            {
                txtValue = a[i].textContent || a[i].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) 
                {
                    a[i].style.display = "";
                } 
                else 
                {
                    a[i].style.display = "none";
                }
            }
        }
        function FilterDropdown2() 
        {
            const input = document.getElementById("myInput2");
            const filter = input.value.toUpperCase();
            const dropdown = document.getElementById("myDropdown2");
            const a = dropdown.getElementsByClassName("dropdownElement");
            for (let i = 0; i < a.length; i++) 
            {
                txtValue = a[i].textContent || a[i].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) 
                {
                    a[i].style.display = "";
                } 
                else 
                {
                    a[i].style.display = "none";
                }
            }
        }
        async function PopulateDropdown()
        {
            var idReference = await document.getElementById("idhidden");
            const id = idReference.textContent;
            const dropdown = document.getElementById("dropdownList");
            const allUsersResponse = await fetch("http://localhost:5220/user");
            const allUsers = await allUsersResponse.json();
            for (let i = 0; i < allUsers.length; i++) 
            {
                var dropElement = document.createElement("button");
                dropElement.className = "dropdownElement";
                dropElement.textContent = allUsers[i].UserName;
                dropElement.addEventListener('click', async function ()
                {
                    const input = await document.getElementById("nameInput");
                    input.value = allUsers[i].UserName;
                    ToggleDropdown();
                });
                dropdown.appendChild(dropElement);
            }
        }
        async function PopulateDropdown2()
        {
            var idReference = await document.getElementById("idhidden");
            const id = idReference.textContent;
            const dropdown = document.getElementById("dropdownList2");
            const allReferencesResponse = await fetch("http://localhost:5220/project");
            const allReferences = await allReferencesResponse.json();
            for (let i = 0; i < allReferences.length; i++) 
            {
                var dropElement = document.createElement("button");
                dropElement.className = "dropdownElement";
                dropElement.textContent = allReferences[i].projectName;
                dropElement.addEventListener('click', async function ()
                {
                    const input = await document.getElementById("nameInput2");
                    input.value = allReferences[i].projectName;
                    ToggleDropdown2();
                });
                dropdown.appendChild(dropElement);
            }
        }
        async function AddUserToTeam()
        {
            var idReference = await document.getElementById("idhidden");
            const teamId = idReference.textContent;
            const input = await document.getElementById("nameInput");
            if (input != null)
            {
                const inputName = input.value;
                //.toLowerCase();
                if (inputName != null && inputName != "")
                {
                    var userResponse = await fetch("http://localhost:5220/user/" + inputName);
                    const user = await userResponse.json();
                    if (user != null)
                    {
                        fetch("http://localhost:5220/usersTeams/" + user.id + "/" + teamId, 
                        {
                            method: "POST", // *GET, POST, PUT, DELETE, etc.
                            mode: "cors", // no-cors, *cors, same-origin
                            cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
                            credentials: "same-origin", // include, *same-origin, omit
                            headers: {
                                "Content-Type": "application/json",
                                // 'Content-Type': 'application/x-www-form-urlencoded',
                            },
                            redirect: "follow", // manual, *follow, error
                            referrerPolicy: "no-referrer", // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
                        })
                        .then(function (){
                            console.log(Response);
                        })
                        .catch( function() {
                            console.log("New user was unable to be added to team");
                        });
                    }
                    else
                    {
                        console.log("User with provided username does not exist");
                    }
                }
                else
                {
                    console.log("Invalid user name");
                }
            }
            else
            {
                console.log("Input element is null")
            }
        }
        async function AddTeamToProject()
        {
            var idReference = await document.getElementById("idhidden");
            const teamId = idReference.textContent;
            const input = await document.getElementById("nameInput2");
            if (input != null)
            {
                const inputName = input.value.toLowerCase();
                if (inputName != null && inputName != "")
                {
                    var projectResponse = await fetch("http://localhost:5220/project/projectname/" + inputName);
                    const project = await projectResponse.json();
                    console.log(project);
                    if (project != null)
                    {
                        fetch("http://localhost:5220/teamsProjects/" + teamId + "/" + project[0].id, 
                        {
                            method: "POST", // *GET, POST, PUT, DELETE, etc.
                            mode: "cors", // no-cors, *cors, same-origin
                            cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
                            credentials: "same-origin", // include, *same-origin, omit
                            headers: {
                                "Content-Type": "application/json",
                                // 'Content-Type': 'application/x-www-form-urlencoded',
                            },
                            redirect: "follow", // manual, *follow, error
                            referrerPolicy: "no-referrer", // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
                        })
                        .then(function (){
                            console.log(Response);
                        })
                        .catch( function() {
                            console.log("New user was unable to be added to team");
                        });
                    }
                    else
                    {
                        console.log("User with provided username does not exist");
                    }
                }
                else
                {
                    console.log("Invalid user name");
                }
            }
            else
            {
                console.log("Input element is null")
            }
        }
        async function GetTeamsByUserTimeSpentData()
        {
            var idReference = await document.getElementById("idhidden");
            const id = idReference.textContent;
            const allUsersResponse = await fetch("http://localhost:5220/teammodel/" + id + "/users");
            const allUsers = await allUsersResponse.json();
            var UsersWithTimesArray = await Promise.all(allUsers.map(async function(index){
                const timeSpentResponse = await fetch("/usermodel/" + index.userId + "/timespent");
                const timeSpent = await timeSpentResponse.json();
                const data = {
                    totaltimespent: timeSpent.totaltimespent,
                    UserName: index.UserName,
                }
                console.log(data);
                return data;
            }));
            UsersWithTimesArray.sort(function(a, b){
               return b.totaltimespent - a.totaltimespent;
            });
            userNames = UsersWithTimesArray.map(function(index){
                return index.UserName;
            });
            timeSpentArray = UsersWithTimesArray.map(function(index){
                return index.totaltimespent;
            });
            var numRecords = 5;
            if (userNames.length > numRecords)
            {
                userNames = userNames.slice(0, numRecords);
            }
            if (timeSpentArray.length > numRecords)
            {
                timeSpentArray = timeSpentArray.slice(0, numRecords);
            }
        }
        async function GraphUsersByTimeSpent()
        {
            console.log(userNames);
            console.log(timeSpentArray);
            var myChart = document.getElementById("myChart");
            timeSpentByUserChart = new Chart(myChart, 
            {
                type: 'pie',
                data: 
                {
                    labels: userNames,
                    datasets: 
                    [{
                        label: "Time Spent by Users in the Team",
                        data: timeSpentArray,
                        hoverOffset: 4
                    }],
                    options: 
                    {
                        plugins: 
                        {
                            datalabels: 
                            {
                                formatter: (value) => 
                                {
                                    if (value < 15) return '';
                                    return value + '%';
                                },
                            },
                        }
                    }
                }
            });
        }