<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="http://localhost:5220/favicon.ico">
    <link rel="stylesheet" href="http://localhost:5220/style.css">
    <title>
        Teams
    </title>
</head>
<body>
    <header>
        <h1 id="SiteHeader">Visualization for GitHub Issues Timer Data</h1>
        <div class="desktop">
            <nav>
                <ul>
                    <li class="navLi">
                        <a href="http://localhost:5220/views/main">Home</a>
                    </li>
                    <li class="navLi">
                        <a href="http://localhost:5220/views/users">Users</a>
                    </li>
                    <li class="navLi">
                        <a href="http://localhost:5220/views/issues">Issues</a>
                    </li>
                    <li class="navLi">
                        <a href="http://localhost:5220/views/timers">Timers</a>
                    </li>
                    <li class="navLi">
                        <a href="http://localhost:5220/views/timerperiods">Periods</a>
                    </li>
                    <li class="navLi" id="CurrentTab">
                        <a href="http://localhost:5220/views/teams">Teams</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="mobile">
            <button id="navButton" onclick="ToggleNav()">| | |</button>
                <nav id="mobileNav" class="displayNone">
                    <ul>
                        <li class="navLiMobile">
                            <a href="http://localhost:5220/views/main">Home</a>
                        </li>
                        <li class="navLiMobile">
                            <a href="http://localhost:5220/views/users">Users</a>
                        </li>
                        <li class="navLiMobile">
                            <a href="http://localhost:5220/views/issues">Issues</a>
                        </li>
                        <li class="navLiMobile">
                            <a href="http://localhost:5220/views/timers">Timers</a>
                        </li>
                        <li class="navLiMobile">
                            <a href="http://localhost:5220/views/timerperiods">Periods</a>
                        </li>
                        <li class="navLiMobile" id="CurrentTab">
                            <a href="http://localhost:5220/views/teams">Teams</a>
                        </li>
                    </ul>
                </nav>            
        </div>
    </header>
    <div id="content">
        <h1 id="ContentHeader"> TEAMS DATA</h1>
        <div class="desktop">
            <div class="CanvasWrapper">
                <h1 class="CanvasHeader">Teams by Number of Users</h1>
                <canvas id="teamsChart"></canvas>
            </div>
        </div>
        <div class="mobile">
            <div class="CanvasWrapper">
                <h1 class="CanvasHeader">Teams by Number of Users</h1>
                <canvas id="teamsChartMobile"></canvas>
            </div>
        </div>
        <input type="text" id="nameInput" placeholder="Enter Team Name">
        <button onclick="CreateNewTeam()" class="createBtn">Create Team</button>
        <h1 id="ReferenceListHeader">
            Tracked Teams
        </h1>
        <div id="ReferenceList">

        </div>
        <button id="nextbtn" class="tabbtn" onclick="TabUp()">Next</button>
        <button id="backbtn" class="tabbtn" onclick="TabDown()">Previous</button>
        
    </div>
    <div id="searchLink">
        <a href="http://localhost:5220/views/search">Not what you're looking for? Do a search!</a>
    </div>
    <footer>
        Visualization for data collected through the ITSC's GitHub Issues Timer Extension. Graphing handled through Chart.js. Special thanks to W3 Schools for providing template code and instruction.
        <br>Project GitHub link: <a href="https://github.com/GrantRynders/Github-Extension-Project">https://github.com/GrantRynders/Github-Extension-Project</a>
        <br>Author: Grant Rynders
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var index;
        const interval = 2;
        var teamNames;
        var userCounts;

        index = 0;
        Main();
        async function Main()
        {
            await ListReferences(index);
            await GetTeamsByUserCountData();
            await GraphTeamsByUserCount();
            await GraphTeamsByUserCountMobile();
        }
        async function CreateNewTeam()
        {
            const input = await document.getElementById("nameInput");
            if (input != null)
            {
                const inputName = input.value.toLowerCase();
                if (inputName != null && inputName != "")
                {
                    fetch("http://localhost:5220/team/" + inputName, 
                    {
                        method: "POST", // *GET, POST, PUT, DELETE, etc.
                        mode: "cors", // no-cors, *cors, same-origin
                        cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
                        credentials: "same-origin", // include, *same-origin, omit
                        headers: {
                            "Content-Type": "application/json",
                            // 'Content-Type': 'application/x-www-form-urlencoded',
                        },
                        redirect: "follow", // manual, *follow, error
                        referrerPolicy: "no-referrer", // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
                    })
                    .then(function (){
                        console.log(Response);

                    })
                    .catch( function() {
                        console.log("New team was unable to save");
                    });
                    document.location.reload();
                }
                else
                {
                    console.log("Invalid team name");
                }
            }
            else
            {
                console.log("Input element is null")
            }
        }
        async function GetTeamsByUserCountData()
        {
            const allTeamsResponse = await fetch("http://localhost:5220/team");
            const allTeams = await allTeamsResponse.json();
            var teamsWithUsersArray = await Promise.all(allTeams.map(async function(index){
                const usersResponse = await fetch("http://localhost:5220/teammodel/" + index.id + "/users");
                const users = await usersResponse.json();
                const data = {
                    teamId: index.id,
                    teamName: index.teamName,
                    userCount: users.length,
                }
                return data;
            }));
            teamsWithUsersArray.sort(function(a, b){
               return b.userCount - a.userCount;
            });
            teamNames = teamsWithUsersArray.map(function(index){
                return index.teamName;
            });
            userCounts = teamsWithUsersArray.map(function(index){
                return index.userCount;
            });
            var numRecords = 5;
            if (teamNames.length > numRecords)
            {
                teamNames = teamNames.slice(0, numRecords);
            }
            if (userCounts.length > numRecords)
            {
                userCounts = userCounts.slice(0, numRecords);
            }
        }
        async function GraphTeamsByUserCount()
        {
            var myChart = document.getElementById("teamsChart");
            new Chart(myChart, {
                type: 'bar',
                data: 
                {
                    labels: teamNames,
                    datasets: [{
                        label: 'Number of Users per Team',
                        data: userCounts,
                        borderWidth: 1
                    }]
                },
                options: 
                {
                    scales: 
                    {
                        y: 
                        {
                            beginAtZero: true
                        }
                    }
                }
            });
        }
        async function GraphTeamsByUserCountMobile()
        {
            var myChart = document.getElementById("teamsChartMobile");
            new Chart(myChart, {
                type: 'bar',
                data: 
                {
                    labels: teamNames,
                    datasets: [{
                        label: 'Number of Users per Team',
                        data: userCounts,
                        borderWidth: 1
                    }]
                },
                options: 
                {
                    scales: 
                    {
                        x: 
                        {
                            ticks: 
                            {
                                //option 2, use callback to change labels to empty string
                                callback: () => ('')
                            }
                        },
                        y: 
                        {
                            beginAtZero: true
                        }
                    }
                }
            });
        }
        async function ListReferences(index)
        {   
            const allTeamsResponse = await fetch("http://localhost:5220/team");
            var allTeams = await allTeamsResponse.json();
            var destinationDiv = document.getElementById("ReferenceList");
            for (var child of destinationDiv.childNodes)
            {
                console.log(child);
                destinationDiv.removeChild(child);
            }
            var links = document.getElementsByClassName("ReferenceLink");
            for (var child of links)
            {
                child.remove();
            }
            allTeams = allTeams.slice(index, index + interval);
            for (var i = 0; i < allTeams.length; i++)
            {
                var referenceLink = document.createElement('A');
                referenceLink.className = "ReferenceLink";
                referenceLink.href = "http://localhost:5220/views/teammodel/team/" + allTeams[i].id;
                referenceLink.textContent = "Id: " + allTeams[i].id + ", teamName: " + allTeams[i].teamName + "\n";
                destinationDiv.appendChild(referenceLink);
            }
        }
        async function TabUp()
        {
            const allTeamsResponse = await fetch("http://localhost:5220/team");
            const teams = await allTeamsResponse.json();
            if (index == null)
            {
                index = 0;
            }
            if ((teams.length) > (Number(index) + interval))
            {
                index += interval;
                ListReferences(Number(index));
            }
        }
        async function TabDown()
        {
            if (index == null)
            {
                index = 0;
            }
            if (Number(index - interval) >= 0)
            {
                index -= interval;
                ListReferences(Number(index));
            }
        }
        async function ToggleNav()
        {
            document.getElementById("mobileNav").classList.toggle("displayNone");
        }
    </script>
</body>
</html>