<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:5220/style.css">
    <title>Timers</title>
</head>
<body>
    <header>
        <h1 id="SiteHeader">Visualization for GitHub Issues Timer Data</h1>
        <div class="desktop">
            <nav>
                <ul>
                    <li class="navLi">
                        <a href="http://localhost:5220/views/main">Home</a>
                    </li>
                    <li class="navLi">
                        <a href="http://localhost:5220/views/users">Users</a>
                    </li>
                    <li class="navLi">
                        <a href="http://localhost:5220/views/issues">Issues</a>
                    </li>
                    <li class="navLi" id="CurrentTab">
                        <a href="http://localhost:5220/views/timers">Timers</a>
                    </li>
                    <li class="navLi">
                        <a href="http://localhost:5220/views/timerperiods">Periods</a>
                    </li>
                    <li class="navLi">
                        <a href="http://localhost:5220/views/teams">Teams</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="mobile">
            <button id="navButton" onclick="ToggleNav()">| | |</button>
                <nav id="mobileNav" class="displayNone">
                    <ul>
                        <li class="navLiMobile">
                            <a href="http://localhost:5220/views/main">Home</a>
                        </li>
                        <li class="navLiMobile">
                            <a href="http://localhost:5220/views/users">Users</a>
                        </li>
                        <li class="navLiMobile">
                            <a href="http://localhost:5220/views/issues">Issues</a>
                        </li>
                        <li class="navLiMobile" id="CurrentTab">
                            <a href="http://localhost:5220/views/timers">Timers</a>
                        </li>
                        <li class="navLiMobile">
                            <a href="http://localhost:5220/views/timerperiods">Periods</a>
                        </li>
                        <li class="navLiMobile">
                            <a href="http://localhost:5220/views/teams">Teams</a>
                        </li>
                    </ul>
                </nav>            
        </div>
    </header>
    <div id ="content">
        <H1 id="ContentHeader"> TIMERS DATA </H1>
        <div class="CanvasWrapper">
            <h1 class="CanvasHeader">Timers by Number of Periods</h1>
            <canvas id="myChart">

            </canvas>
        </div>
        <h1 id ="ReferenceListHeader">
            Tracked Timers
        </h1>
        <div id="ReferenceList">
                
        </div>
        <button id="nextbtn" class="tabbtn" onclick="TabUp()">Next</button>
        <button id="backbtn" class="tabbtn" onclick="TabDown()">Previous</button>
    </div>
    <div id="searchLink">
        <a href="http://localhost:5220/views/search">Not what you're looking for? Do a search!</a>
    </div>
    <footer>
        Visualization for data collected through the ITSC's GitHub Issues Timer Extension. Graphing handled through Chart.js. Special thanks to W3 Schools for providing template code and instruction.
        <br>Project GitHub link: <a href="https://github.com/GrantRynders/Github-Extension-Project">https://github.com/GrantRynders/Github-Extension-Project</a>
        <br>Author: Grant Rynders
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var index;
        const interval = 2;
        var names;
        var periodCounts;
        Main();
        async function Main()
        {
            await ListTimers(0);
            await GetTimersWithPeriodCounts();
            await GraphTimersWithPeriodCounts();
        }
        async function ListTimers(index)
        {
            const destinationDiv = document.getElementById("ReferenceList");
            const allTimersResponse = await fetch("http://localhost:5220/timer");
            var allTimers = await allTimersResponse.json();
            for (var child of destinationDiv.childNodes)
            {
                console.log(child);
                destinationDiv.removeChild(child);
            }
            var links = document.getElementsByClassName("ReferenceLink");
            for (var child of links)
            {
                child.remove();
            }
            allTimers = allTimers.slice(index, index + interval);
            for (let i = 0; i < allTimers.length; i++) 
            {
                var timerLink = document.createElement('a');
                timerLink.className = "ReferenceLink";
                timerLink.href = "http://localhost:5220/views/timermodel/timer/" + allTimers[i].id;
                timerLink.textContent = "Id: " + allTimers[i].id + ", UserId: " + allTimers[i].userId + ", IssueId: " + allTimers[i].issueId + "\n";
                destinationDiv.appendChild(timerLink);

            }
        }
        async function GetTimersWithPeriodCounts()
        {
            const allTimersResponse = await fetch("http://localhost:5220/timer");
            const allTimers = await allTimersResponse.json();
            var timersWithPeriodsArray = await Promise.all(allTimers.map(async function(index){
                const periodsResponse = await fetch("http://localhost:5220/timermodel/" + index.id + "/timerperiods");
                const periods = await periodsResponse.json();
                const periodCount = periods.length;
                const userAndTimerResponse = await fetch("http://localhost:5220/timermodel/" + index.id + "/userandtimer")
                const userAndTimer = await userAndTimerResponse.json();
                const userName = userAndTimer[0].UserName;
                const timerId = userAndTimer[0].TimerId;
                const compoundName = userName + ", TimerId: " + timerId
                const data = {
                    periodCount: periodCount,
                    compoundName: compoundName,
                }
                return data;
            }));
            timersWithPeriodsArray.sort(function(a, b){
               return b.periodCount - a.periodCount;
            });
            periodCounts = timersWithPeriodsArray.map(function(index){
                return index.periodCount;
            });
            names = timersWithPeriodsArray.map(function(index){
                return index.compoundName;
            });
            const numRecords = 5;
            if (periodCounts.length > numRecords)
            {
                periodCounts = periodCounts.slice(0, numRecords);
            }
            if (names.length > numRecords)
            {
                names = names.slice(0, numRecords);
            }
        }
        async function GraphTimersWithPeriodCounts() 
        {
            var myChart = document.getElementById("myChart");
            new Chart(myChart, {
                type: 'bar',
                data: {
                labels: names,
                datasets: [{
                    label: 'Number of Periods Per Timer',
                    data: periodCounts,
                    borderWidth: 1,
                    backgroundColor: '#9BD0F5'
                }]
                },
                options: {
                scales: {
                    y: {
                    beginAtZero: true
                    }
                }
                }
            });
        }
        async function TabUp()
        {
            const allRecordsResponse = await fetch("http://localhost:5220/timer");
            const allRecords = await allRecordsResponse.json();
            if (index == null)
            {
                index = 0;
            }
            if ((allRecords.length) > (Number(index) + interval))
            {
                index += interval;
                ListTimers(Number(index));
            }
        }
        async function TabDown()
        {
            const allRecordsResponse = await fetch("http://localhost:5220/timer");
            const allRecords = await allRecordsResponse.json();
            if (index == null)
            {
                index = 0;
            }
            if (Number(index - interval) >= 0)
            {
                index -= interval;
                ListTimers(Number(index));
            }
        }
        async function ToggleNav()
        {
            document.getElementById("mobileNav").classList.toggle("displayNone");
        }
    </script>
</body>
</html>