extends default

block content
    #content
    h1 Whoops the content you were looking for seems to be missing
    a(href="mailto:grantrynders@outlook.com?subject=Github Timer Extension Report") Email us about the Issue!